linkQualityEstimation/datasets/trace4_JSI/scripts/process/sigfox_loop.json
[{"id":"23ec4996.37f5a6","type":"sigfox in","z":"d34dad9e.b073a","name":"","device":"578e17e1500574190f0a04ac","x":899,"y":240,"wires":[["9f4f0fb2.15963"]]},{"id":"9f4f0fb2.15963","type":"sigfox device filter","z":"d34dad9e.b073a","name":"","device":"1cf14c","x":866,"y":316,"wires":[["aab7fac1.481c68","a3f6a0ec.f94d3"]]},{"id":"b1ed9eec.17a788","type":"http request","z":"d34dad9e.b073a","name":"SIGFOX transmitter","method":"POST","ret":"obj","url":"http://localhost:7213/transmit","tls":"","x":186,"y":485,"wires":[["7ae45067.27285"]]},{"id":"aab7fac1.481c68","type":"file","z":"d34dad9e.b073a","name":"","filename":"rx_log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1205.5,"y":358,"wires":[]},{"id":"7ae45067.27285","type":"function","z":"d34dad9e.b073a","name":"Make 5000 packets","func":"var serial = 0;\n\nif ((typeof msg.payload) != 'number') {\n    // not first message from \"inject\" node\n    serial = flow.get('serial');\n}\nflow.set('serial', serial + 1);\n\nif (serial < 5000) {\n    data = (\"0000\" + serial.toString(16)).slice(-4);\n    \n    //var r = serial % 3;\n    var r = 2;\n    \n    if (r === 0) {\n        msg.payload = {\n            \"data\": data,\n        };\n    } else if (r === 1) {\n        msg.payload = {\n            \"data\": data,\n            \"repetitions\": 1,\n        };\n    } else {\n        var f = 868.055e6 + Math.random()*1500*100;\n        var gain = -30.0 * Math.random();\n        msg.payload = {\n            \"data\": data,\n            \"repetitions\": 1,\n            \"frequency\": f,\n            \"gain\": gain\n        };\n    }\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"x":180,"y":364,"wires":[["93326769.81789","66bf9bad.d4dff4","b1ed9eec.17a788"]]},{"id":"72854ec2.cf27b8","type":"inject","z":"d34dad9e.b073a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":196,"y":242,"wires":[["7ae45067.27285"]]},{"id":"a3f6a0ec.f94d3","type":"debug","z":"d34dad9e.b073a","name":"","active":false,"console":"false","complete":"false","x":1219,"y":270,"wires":[]},{"id":"93326769.81789","type":"debug","z":"d34dad9e.b073a","name":"","active":true,"console":"false","complete":"false","x":470,"y":317,"wires":[]},{"id":"66bf9bad.d4dff4","type":"file","z":"d34dad9e.b073a","name":"","filename":"tx_log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":461,"y":406,"wires":[]},{"id":"e7441695.96a288","type":"comment","z":"d34dad9e.b073a","name":"Receiver","info":"","x":805.5,"y":168,"wires":[]},{"id":"6b187319.5e7dd4","type":"comment","z":"d34dad9e.b073a","name":"Transmitter","info":"","x":188,"y":163,"wires":[]}]